<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ambulance_mng_db.Properties.Settings.AmbulanceConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Ambulance.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ambulance_mng_db.Properties.Settings.StaffConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Staff.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ambulance_mng_db.Properties.Settings.DetailsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Details.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>